@tailwind base;
@tailwind components;
@import "@/styles/loader.css";
@tailwind utilities;

@layer components {
  .sidebar-main {
    @apply top-0 left-0 h-screen w-64 flex flex-col shadow-xl rounded-e-lg text-gray-800 sticky;
  }
  .sidebar-list-container {
    @apply mx-auto text-lg flex flex-col;
  }
  .sidebar-list-item {
    @apply px-5 py-3 my-2 mx-auto w-full rounded-md hover:bg-blue-100;
  }
  .custom-input {
    @apply h-12 w-full border text-black rounded-md p-3 text-base placeholder:text-gray-400 focus-visible:outline-none focus-visible:ring-[2px] focus-visible:ring-neutral-400 disabled:cursor-not-allowed disabled:opacity-50 group-hover/input:shadow-none;
  }
  .custom-button {
    @apply rounded font-semibold text-base lg:text-lg leading-5 lg:leading-6 bg-blue-700 hover:shadow-xl disabled:pointer-events-none disabled:bg-opacity-80 disabled:text-black/50 px-5 py-3 text-white;
  }

  .close-icon-button {
    @apply text-gray-400 absolute top-2.5 right-2.5 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-base p-1.5 ml-auto inline-flex items-center;
  }
  .title-text {
    @apply text-4xl font-bold text-center;
  }

  .custom-table {
    @apply overflow-y-auto w-full;
  }
  .custom-table thead tr {
    @apply bg-gray-100;
  }
  .custom-table th,
  .custom-table td {
    @apply px-6 py-2 text-start;
  }
  .custom-table tbody tr {
    @apply border-b border-gray-300;
  }
  .dashboard-card {
    @apply border border-gray-200 rounded-xl shadow-lg p-4 space-y-2;
  }
}
